<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Cropped url:</strong>
  <%=image_tag @product.picture.url(:cropped)%>
</p>

<p>
  <strong>Rotated url:</strong>
  <%=image_tag @product.picture.url(:rotated)%>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>